@use "variables.scss" as *;
.mainContainer {
  width: 100%;
  .cont {
    width: 80%;
    @media (max-width: 768px) {
      width: 90%;
    }
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    .navigation {
      .breadcrumb-item {
        cursor: pointer;
      }
    }
    .DataSection {
      display: flex;
      gap: 30px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .img {
        // flex: 1;
        img {
          width: 320px;
        }
      }
      .info {
        flex: 1;

        max-width: 100%;
        .itemTitle {
          font-size: 34px;
          font-family: $title-font-family;
          font-weight: 700;
          margin-bottom: 35px;
          width: 100%;
          @media (max-width: 768px) {
            font-size: 20px;
          }
        }
        .priceContainer {
          // margin-top: -5px;
          display: block;
          margin-bottom: 35px;
          font-family: $title-font-family;
          font-size: 28px;
          @media (max-width: 768px) {
            font-size: 18px;
          }
          .oldPrice {
            color: #bbb;
            text-decoration: line-through;
            margin-right: 15px;
          }
          .newPrice {
            color: $mainColor;
            font-weight: bold;
          }
        }
        .actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          // gap: 60px;
          row-gap: 10px;
          align-items: center;
          @media (max-width: 768px) {
            row-gap: 10px;
          }
          .changeValue {
            border: 1px solid #ddd;
            /* padding: 9px 0; */
            border-radius: 18px;
            display: block;
            height: 35px;
            width: fit-content;
            color: rgb(119, 119, 119);

            button {
              // background-color: $mainColor;
              // color: #fff;
              // border: none;
              // padding: 10px 20px;
              // border-radius: 30px;
              transition: 0.3s;
              border: none;
              background-color: transparent;
              cursor: pointer;
              width: fit-content;
              text-align: center;
              font-size: 14px;
              height: 35px;
              width: 35px;
              &:hover {
                color: #fff;
                background-color: $mainColor;
              }
              &.inc {
                border-radius: 35px 0 0 35px;
                margin-right: -7px;
                border-right: 1px solid #ddd;
              }
              &.dec {
                margin-left: -7px;
                border-radius: 0 35px 35px 0;
                border-left: 1px solid #ddd;
              }
            }
            .value {
              margin-inline: 7px;

              padding: 0 5px;
            }
          }
          .addToCart,
          .buyNow {
            border: none;
            // width: 100px;
            padding: 16px 85px;
            border-radius: 30px;
            cursor: pointer;
            font-family: $text-font;
            font-size: 13px;
            font-weight: 600;
            transition: 0.3s;
            @media (max-width: 768px) {
              padding: 10px 40px;
            }
          }
          .addToCart {
            background-color: $mainColor;
            color: #fff;
            &:hover {
              background-color: darken($mainColor, 10%);
            }
          }
          .buyNow {
            background-color: #101010e6;
            color: #fff;
            &:hover {
              background-color: darken(#101010e6, 10%);
            }
          }
          .favEle {
            display: flex;
            gap: 10px;
            flex-direction: row;
            cursor: pointer;
            align-items: center;
            transition: 0.3s;
            font-size: 16px;
            font-family: $text-font;
            &:hover {
              color: #767676;
            }
          }
        }
        .more {
          padding-top: 10px;
          @media (max-width: 1025px) {
            display: none;
          }
          .questions {
            display: flex;
            gap: 30px;
            cursor: pointer;
            margin-bottom: 20px;
            color: #767676;
            font-family: $title-font-family;
            font-size: 23px;
            font-weight: 700;
            transition: 0.3s;
            &:hover {
              color: #000;
            }
            .active {
              color: #000;
            }
            span {
              position: relative;
              transition: 0.3s;
              &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 4px;
                background-color: $mainColor;
                left: 0;
                top: -35px;
                transition: 0.3s;
              }
              &:hover::before {
                width: 100%;
              }
              &.active::before {
                width: 100%;
              }
            }
          }
          .answers {
            color: #767676;
            font-family: $text-font;
            font-size: 14px;
          }
        }
        .faqs {
          @media (max-width: 1025px) {
            display: block;
          }
          @media (min-width: 1024px) {
            display: none;
          }
          .ant-collapse-header-text {
            font-family: $title-font-family;
            font-weight: bold;
            color: #242424;
            font-size: 18px;
            transition: 0.3s;
            &:hover {
              color: $mainColor;
              // margin-bottom: 1px;
            }
          }
          .ant-collapse-content-box {
            font-family: $text-font;
            font-size: 15px;
            color: #777;
          }
        }
      }
    }
  }
}
.ItemsContainer {
  margin-top: 30px;
  // display: flex;
  // gap: 30px;
  // flex-wrap: wrap;
  margin: 30 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  width: 100%;
  // width: 90%;
  @media (max-width: 768px) {
    gap: 20px;
  }
  @media (max-width: 480px) {
    gap: 10px;
  }
  .allItems {
    width: fit-content;
    max-width: 225px;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 160px;
      height: 270px;
      margin-bottom: 60px;
    }
    .card {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
      transition: 0.3s;
      width: fit-content;
      max-width: 205px;
      padding: 0 0 10px;
      height: 370px;
      border-radius: 14px;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        width: 160px;
        height: 270px;
        margin-bottom: 60px;
      }
      // @media (max-width: 1290px) {
      //   width: 70%;
      // }

      .cover {
        position: relative;

        .pag {
          position: absolute;
          top: 10px;
          // display: flex;
          // justify-content: space-between;
          // align-items: center;
          width: 95%;
          .badge {
            background-color: $mainColor;
            padding: 5px 10px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            border-radius: 14px;
            float: left;
          }
          .fav {
            color: #767676;
            font-size: 22px;
            float: right;
            // width: fit-content;
            // background-color: black;
          }
        }
        .img {
          width: 100%;
          margin: 0 auto;
          max-width: 100%;
          img {
            max-width: 100%;
          }
        }
      }
      .details {
        transition: 0.3s;
        padding: 0 10px 10px;
        position: relative;
        background-color: #fff;
        margin-top: 10px;
        height: 80px;
        z-index: 200;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        .h3 {
          color: #000;
          margin-top: 0px;
          font-size: 16px;
          width: 100%;
          // overflow: hidden;
          text-decoration: none;
          word-wrap: break-word;
          white-space: normal;
          overflow-wrap: break-word;
          // display: -webkit-box;
          // -webkit-line-clamp: 2;
          // -webkit-box-orient: vertical;
          &:hover {
            color: #767676;
          }
        }
        .price {
          margin-top: -5px;
          display: block;
          margin-bottom: 10px;
          .oldPrice {
            color: #767676;
            font-size: 15px;
            text-decoration: line-through;
            margin-right: 15px;
          }
          .newPrice {
            color: $mainColor;
            font-size: 18px;
            font-weight: bold;
          }
        }
        .btn {
          transition: 0.3s;
          background-color: $mainColor;
          color: #fff;
          border: none;
          width: 100%;
          max-width: 100%;
          padding: 10px 20px;
          border-radius: 20px;
          cursor: pointer;
          display: none;
          &:hover {
            background-color: darken($mainColor, 10%);
          }
        }
      }
      &:hover {
        margin-bottom: 20px;
        height: 400px;
        @media (max-width: 768px) {
          height: 350px;
        }
        .details {
          margin-top: -40px;
          margin-bottom: 10px;
          height: 140px;
          .btn {
            display: block;
            // margin-top: -30px;
          }
        }
      }
    }
    .ant-list-pagination {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainColor;
      .ant-pagination-item-active {
        border-color: $mainColor;
        background-color: $mainColor;
        a {
          color: #fff;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}
