@use "variables.scss" as *;
.navigationContainer {
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  max-width: 100%;
  z-index: 1;

  @media (max-width: 1024px) {
    display: block;
    width: 100%;
  }
  @media (min-width: 1025px) {
    display: none;
  }

  .parts {
    width: 80%;
    margin: 0 auto;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      color: rgba(16, 16, 16, 0.7);
      transition: 0.3s;
      &:hover {
        color: $text-color;
      }
    }
    .txt {
      font-size: 12px;
    }
  }
}
