$text-font: "Work Sans", Arial, Helvetica, sans-serif;
$text-font-weight: 400;
$text-color: #777777;
$text-font-size: 15px;
$title-font-family: "Urbanist", Arial, Helvetica, sans-serif;
$title-font-weight: 700;
$title-color: #242424;
$mainColor: rgb(237, 156, 75);
$ele-bg: #f3f3f3;
$text-color: #777777;
$el-color: #4f4f4f;
$header-bg: #fbfaf7;
// --wd-cat-brd-radius: 50%;
//     --wd-text-font: "Work Sans", Arial, Helvetica, sans-serif;
//     --wd-text-font-weight: 400;
//     --wd-t
//     --wd-text-font-size: 15px;
//     --wd-title-font: "Urbanist", Arial, Helvetica, sans-serif;
//     --wd-title-font-weight: 700;
//     --wd-title-color: #242424;
//     --wd-entities-title-font: "Urbanist", Arial, Helvetica, sans-serif;
//     --wd-entities-title-font-weight: 700;
//     --wd-entities-title-color: #333333;
//     --wd-entities-title-color-hover: rgb(51 51 51 / 65%);
//     --wd-alternative-font: "Lato", Arial, Helvetica, sans-serif;
//     --wd-widget-title-font: "Urbanist", Arial, Helvetica, sans-serif;
//     --wd-widget-title-font-weight: 700;
//     --wd-widget-title-transform: capitalize;
//     --wd-widget-title-color: #333;
//     --wd-widget-title-font-size: 16px;
//     --wd-header-el-font: "Urbanist", Arial, Helvetica, sans-serif;
//     --wd-header-el-font-weight: 600;
//     --wd-header-el-transform: capitalize;
//     --wd-header-el-font-size: 14px;
//     --wd-brd-radius: 10px;
//     --wd-primary-color: rgb(237, 156, 75);
//     --wd-alternative-color: rgb(58, 116, 138);
//     --wd-link-color: #333333;
//     --wd-link-color-hover: #242424;
//     --btn-default-transform: none;
//     --btn-default-bgcolor: #f7f7f7;
//     --btn-default-bgcolor-hover: #efefef;
//     --btn-accented-transform: none;
//     --btn-accented-bgcolor: rgb(245, 154, 87);
//     --btn-accented-bgcolor-hover: rgb(223, 140, 79);
//     --btn-transform: none;
//     --wd-form-brd-width: 1px;
//     --notices-success-bg: #459647;
//     --notices-success-color: #fff;
//     --notices-warning-bg: #E0B252;
//     --notices-warning-color: #fff;
//     --wd-sticky-btn-height: 95px;
