@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.header .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #f3f3f3;
}
@media (max-width: 1199px) {
  .header .container {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .header .container {
    width: 970px;
  }
}
@media (max-width: 768px) {
  .header .container {
    width: 750px;
  }
}
.header .container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
@media (min-width: 1025px) {
  .header .container .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1024px) {
  .header .container .banner {
    display: none;
  }
}
.header .container .banner .txt {
  color: #777777;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
.header .container .banner .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header .container .banner .contact .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f4f4f;
  font-size: 14px;
}
.header .container .banner .contact .phone a {
  text-decoration: none;
  color: #4f4f4f;
}
.header .container .banner .contact .pip {
  color: #777777;
  font-size: 15px;
}
.header .container .banner .contact .shipping {
  border: none;
  cursor: pointer;
  background-color: rgb(224, 234, 240);
  border-radius: 35px;
  padding: 5px 10px;
  min-height: 28px;
  font-size: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .banner .contact .shipping:hover {
  background-color: rgb(136, 172, 186);
}
.header .navContainer {
  padding: 0 15px;
  padding-bottom: 12px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fbfaf7;
}
@media (max-width: 1199px) {
  .header .navContainer {
    width: 1170px;
    display: block;
  }
}
@media (max-width: 1024px) {
  .header .navContainer {
    display: none;
  }
}
@media (min-width: 1025px) {
  .header .navContainer {
    display: block;
  }
}
.header .navContainer .nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navContainer .nav .search .ant-input-outlined {
  width: 600px;
  border-radius: 35px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1290px) {
  .header .navContainer .nav .search .ant-input-outlined {
    width: 450px;
  }
}
@media (max-width: 1260px) {
  .header .navContainer .nav .search .ant-input-outlined {
    width: 350px;
  }
}
@media (max-width: 1150px) {
  .header .navContainer .nav .search .ant-input-outlined {
    width: 250px;
  }
}
.header .navContainer .nav .search .ant-input-outlined:focus {
  border-color: #ecebea;
  border-inline-start-color: #ecebea;
  -webkit-box-shadow: 0 0 0 2px #ecebea;
          box-shadow: 0 0 0 2px #ecebea;
}
.header .navContainer .nav .search .ant-input-outlined:hover {
  border-color: #ecebea;
}
.header .navContainer .nav .search .ant-input-outlined:focus-within {
  border-color: #ecebea;
  border-inline-start-color: #ecebea;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}
.header .navContainer .nav .search .ant-input-outlined .ant-input {
  padding-inline: 10px;
}
.header .navContainer .nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}
.header .navContainer .nav .icons .loved {
  background-color: rgba(16, 16, 16, 0.05);
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: rgba(16, 16, 16, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .navContainer .nav .icons .loved:hover {
  color: #777777;
}
.header .navContainer .nav .icons .login {
  padding: 0 13px;
  height: 40px;
  width: 180px;
  border-radius: 35px;
  border: none;
  background-color: rgba(16, 16, 16, 0.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
}
.header .navContainer .nav .icons .login:hover {
  color: #777777;
}
.header .navContainer .nav .icons .cart {
  padding: 0 13px;
  height: 40px;
  border-radius: 35px;
  border: none;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  color: #fff;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
}
.header .navContainer .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}
.header .navContainer .categories a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}
.header .navContainer .categories a.active {
  color: rgb(237, 156, 75);
}
.header .navContainer .categories a:hover {
  color: rgb(237, 156, 75);
}
.header .smallContainer {
  padding: 0 15px;
  padding-bottom: 12px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fbfaf7;
}
@media (min-width: 1025px) {
  .header .smallContainer {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .smallContainer {
    display: block;
  }
}
.header .smallContainer .small {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.header .smallContainer .small .cart {
  cursor: pointer;
}
.header .smallContainer .small .cart .c {
  font-size: 25px;
}
.header .smallContainer .smallSearch .ant-input-outlined {
  border-radius: 35px;
  height: 40px;
}
.header .smallContainer .smallSearch .ant-input-outlined:focus {
  border-color: #ecebea;
  border-inline-start-color: #ecebea;
  -webkit-box-shadow: 0 0 0 2px #ecebea;
          box-shadow: 0 0 0 2px #ecebea;
}
.header .smallContainer .smallSearch .ant-input-outlined:hover {
  border-color: #ecebea;
}
.header .smallContainer .smallSearch .ant-input-outlined:focus-within {
  border-color: #ecebea;
  border-inline-start-color: #ecebea;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}
.header .smallContainer .smallSearch .ant-input-outlined .ant-input {
  padding-inline: 10px;
}

.drawer {
  cursor: pointer;
}
.drawer .ant-drawer-body .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.drawer .ant-drawer-body .categories a {
  color: #777777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  position: relative;
}
.drawer .ant-drawer-body .categories a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.105);
}
.drawer .ant-drawer-body .categories a.active {
  color: rgb(237, 156, 75);
}
.drawer .ant-drawer-body .categories a:hover {
  color: rgb(237, 156, 75);
}

.loginDrawer {
  z-index: 20;
  position: relative;
}
.loginDrawer .form .ant-form-item {
  margin-bottom: 5px;
}
.loginDrawer .form .ant-form-item .ant-form-item-label {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: -6px;
}
.loginDrawer .form .ant-form-item .field {
  border-color: #ecebea;
  border-radius: 35px;
  padding-inline: 15px;
  height: 40px;
}
.loginDrawer .form .ant-form-item .field:last-child {
  margin-bottom: 15px;
}
.loginDrawer .form .ant-form-item .field:hover {
  border-color: #ecebea;
}
.loginDrawer .form .ant-form-item .field:focus {
  border-color: #ecebea;
  -webkit-box-shadow: 0 0 0 2px #ecebea;
          box-shadow: 0 0 0 2px #ecebea;
}
.loginDrawer .form .ant-form-item .field:focus-within {
  border-color: #ecebea;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}
.loginDrawer .form .inBtn {
  background-color: rgb(237, 156, 75);
  color: #fff;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  border: none;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}
.loginDrawer .form .inBtn:hover {
  background-color: #e8831d;
}
.loginDrawer .forgot {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}
.loginDrawer .forgot:hover {
  text-decoration: underline;
}
.loginDrawer .alter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.loginDrawer .alter .social {
  width: 100%;
  height: 40px;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: #fff;
}
.loginDrawer .alter .social.face {
  background-color: #4267b2;
}
.loginDrawer .alter .social.face:hover {
  background-color: #34518d;
}
.loginDrawer .alter .social.google {
  background-color: rgb(82, 179, 217);
}
.loginDrawer .alter .social.google:hover {
  background-color: #2d9fcb;
}
.loginDrawer .alter .social .ico {
  font-size: 20px;
  margin-left: -20px;
}
.loginDrawer .new {
  text-align: center;
  margin-top: -20px;
}
.loginDrawer .new .icon {
  margin-bottom: 10px;
}
.loginDrawer .new .icon .user {
  color: rgba(0, 0, 0, 0.105);
  font-size: 60px;
}
.loginDrawer .new .icon .txt {
  font-size: 18px;
  font-weight: 600;
}
.loginDrawer .new .link {
  border-bottom: 1px solid rgb(237, 156, 75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
}
.loginDrawer .new .link:hover {
  color: #777777;
}

.cartDrawer .content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cartDrawer .content .icon {
  font-size: 80px;
  color: rgba(128, 128, 128, 0.451);
  margin-bottom: 20px;
}
.cartDrawer .content .txt {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
.cartDrawer .content .btn {
  width: 70%;
  display: block;
  margin: 0 auto;
  background-color: rgb(237, 156, 75);
  color: #fff;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}
.cartDrawer .content .btn:hover {
  background-color: #e8831d;
}